<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup>
    <MergedGSLibraryItems Include="$(TargetDir)\CommonServiceLocator.dll" />
    <MergedGSLibraryItems Include="$(TargetDir)\Unity.Abstractions.dll" />
    <MergedGSLibraryItems Include="$(TargetDir)\Unity.Configuration.dll" />
    <MergedGSLibraryItems Include="$(TargetDir)\Unity.Container.dll" />
    <MergedGSLibraryItems Include="$(TargetDir)\Unity.Interception.Configuration.dll" />
    <MergedGSLibraryItems Include="$(TargetDir)\Unity.Interception.dll" />
    <MergedGSLibraryItems Include="$(TargetDir)\Unity.ServiceLocation.dll" />
  </ItemGroup>
  <Target Name="MergeThirdPartyAssemblies" Condition="'$(Configuration)'!='Debug'">
    <Message Text="Merging assemblies..." Importance="high"/>
    <Exec Command="&quot;$(ilrepack)&quot; /lib:$(TargetDir) /parallel /verbose /out:&quot;@(MainAssembly)&quot; &quot;@(IntermediateAssembly)&quot; @(MergedGSLibraryItems->'&quot;%(Identity)&quot;', ' ')"/>
    <Exec Command="del @(MergedGSLibraryItems->'&quot;%(Identity)&quot;', ' ')"/>
  </Target>

</Project>
